# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/
Package.resolved

# Build artifacts
*.dmg
*.xcarchive
.dmg_staging/
